@use '../variables';

.infos-bar {
    padding: 16px 24px;
    border: 0.8px solid variables.$infoBar;
    display: flex;
    justify-content: space-between;
    text-align: left;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 20px;
            color: variables.$darkColor;

            b {
                color: variables.$mediumColor;
                font-size: 18px;
                display: block;
                margin-bottom: 4px;
            }
        }
    }

    @media (max-width: 640px) {
        display:block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}