@use 'variables';

.event {
    padding: 80px 0;

    &--frontend {
        background-color:variables.$lightColor;
    }
    &--ux-ui {
        background-color:variables.$lightColor;
    }
    &--data-science {
        background-color:variables.$lightColor;
    }
    &--backend {
        background-color:variables.$lightColor;
    }
    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }
    
    
    .container {
        display: flex;
        gap: 40px;
        width: 1024px;
        justify-content: center;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        color: variables.$mediumColor;
        width: 450px;

        &__title {
            font-size: 32x;
            font-weight: bold;
            margin-bottom: 16px;
            line-height: 32px;
        }

        &__description {
            line-height: 24px;  
            font-size: 18px;
            text-align: justify;
            
        }
    }

    

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}