@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Slab", serif;
    list-style: none;
}

h1 {
    color: variables.$titleColor;

}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}